form {
    display: inline-block;
    text-align: center;
    padding: 1em;
    border: none;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li {
    margin-top: 1em;
}

form label {
    display: inline-block;
    min-width: 60px;
    text-align: left;
}

form input, form textarea {
    font: 1em verdana;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    background-color: rgb(221, 221, 221);
}

.submit-workout {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.submit-workout:hover {
    background-color: #45a049;
}

.workout-list-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    min-width: 600px;
}

.workout-list-container-header {
    display: flex;
    align-items: center;
}

.workout-list-container h4 {
    font-size: 1.5em;
    margin: 0 25% 0 50%;
    width: fit-content;
}

.create-new-workout-btn {
    width: 100px;
    height: 50px;
    margin-left: auto;
}

.workout-list {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    height: fit-content;
    margin: 0 auto;
    width: 100%;
    padding: 5px;
}

.workout-list thead {
    font-size: 1.1em;
}

.workout-list th {
    padding: 4px;
    max-width: 33%;
}

.workout-list .workout-checkbox {
    border: none;
}

.workout-list .workout-checkbox input{
    cursor: pointer;
}

.workout-list td {
    border: 1px black solid;
    text-align: center;
    padding: 5px;
}

.workout-list tr {
    max-height: 5px;
}

.workout-list .workout-name, .sets-and-reps {
    width: fit-content;
    min-width: 100px;
    max-width: 20%;
}

.workout-list .workout-notes {
    width: fit-content;
    overflow: scroll;
    scrollbar-width: none;
    max-height: 100px;
}

