.create-new-workout {
    position: absolute;
    right: 7%;
}

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.034);
    backdrop-filter: blur(5px);
    z-index: 1000;
    /* transition: opacity 0.3s ease; */
}

.workout-from-content {
    text-align: center;
}

.list-container h4 {
    font-size: 1.5em;
}

.workout-list {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    height: fit-content;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    border: 2px black solid;
    border-radius: 5px;
}

.workout-list tbody th {
    border: 1px black solid;
}

.workout-list thead {
    font-size: 1.1em;
}

.workout-list th {
    padding: 4px;
    max-width: 33%;
    text-wrap: balance;
}

.workout-list .workout-checkbox {
    border: none;
}

.workout-list .workout-checkbox input{
    cursor: pointer;
}

.workout-list .workout-name {
    max-width: 20%;
}

